[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "palimpsestr"]
	path = palimpsestr
	url = https://github.com/enzococca/palimpsestr
